<%= form_for(@service) do |f| %>

  <div class="field">
    <b>Nom</b><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <b>Noms des participants</b><br>
    <%= f.text_area :participants_name %>
  </div>

  <div class="field">
    <b>Description</b><br>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
   <b>Durée du service</b><br>
    <%= f.text_area :time_spent %>
  </div>

  <div class="actions">
    <%= f.submit "Créer le service" %>
  </div>
<% end %>
