<%= form_for(@service) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :participants_name %><br>
    <%= f.text_area :participants_name %>
  </div>

   <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  
    <div class="field">
    <%= f.label :time_spent %><br>
    <%= f.text_area :time_spent %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
