<p id="notice"><%= notice %></p>

<h1>Rechercher un service :</h1>
<%= search_form_for @q do |f| %>

      <p><b>Lieu</b></p>
      <%= f.search_field :place_cont %>
    
      <p><b>Heure de début</b></p>
      <%= f.search_field :hour_beginning_service_cont %>
      
      <p><b>Durée</b></p>
      <%= f.search_field :time_spent_cont %>
    
      <p><b>Description</b></p>
      <%= f.search_field :description_cont %>

      <p><b>Type</b></p>
      <%= f.search_field :service_type_id_cont %>
      
      <p><b>Nombre de participants</b></p>
      <%= f.search_field :participants_number_eq %>
      
      <p><b>Date</b></p>
      <%= f.search_field :date_service_cont %>
     
      <p><b>Nom du service</b></p>
      <%= f.search_field :name_cont %>

    <%= f.submit %>
<%- if @services.size > 0 %>

<% end %>
  <ul class="list-group">
    <% @services.each do |service| %>

  <div class="paragraph">
    <p>Nom<%= service.name %></p>
    <p>Description<%= service.description %></p>
    <p>Noms des participants<%= service.participants_name %></p>
    <p>Durée du service<%= service.time_spent %></p>
    <p>Description du service<%= service.description %></p>
    </script>


    </div>
    <% end%>
  </ul>
<% end%>
