<p id="notice"><%= notice %></p>
<h1>Rechercher un service par ville :</h1>
<%= search_form_for @q do |f| %>

  <p><b>Lieu</b></p>
  <%= f.search_field :place_cont %>
  
  <p><b>Heure de début du service</b></p>
  <%= f.search_field :hour_beginning_service_cont %>
  
  <p><b>Durée du service</b></p>
  <%= f.search_field :time_spent_cont %>

  <%= f.submit %>

<%- if @services.size > 0 %>

<% end %>
  <ul>
    <% @services.each do |service| %>
    <%= link_to 'Editer', edit_service_path(service)  %>
    <%= link_to 'Supprimer',  service_path(service)  %>
    <div class="paragraph">
      <p>Nom<%= service.name %></p>
      <p>Description<%= service.description %></p>
      <p>Noms des participants<%= service.participants_name %></p>
      <p>Durée du service<%= service.time_spent %></p>
      <input type="submit" value="Je propose mon aide"> 
    </div>
    <% end%>
  </ul>
<% end%>
