<p id="notice"><%= notice %></p>
<h1>Rechercher un service par ville :</h1>
<%= search_form_for @q do |f| %>

  <p><b>Lieu</b></p>
  <%= f.search_field :place_cont %>
  
  <p><b>Heure de début du service</b></p>
  <%= f.search_field :hour_beginning_service_cont %>
  
  <p><b>Durée du service</b></p>
  <%= f.search_field :time_spent_cont %>

  <%= f.submit %>

<%- if @services.size > 0 %>

<% end %>
  <ul>
    <% @services.each do |service| %>
    <%= link_to 'Edit', edit_service_path(service)  %>
    <%= link_to 'Delete',  service_path(service)  %>
    <div class="paragraph">
      <p><div class="name"><%= service.name %></div></p>
      <p><%= service.description %></p>
      <p><div class="participant_name"><%= service.participants_name %></div></p>
      <p><%= service.time_spent %></p>
      <p><%= service.description %></p>
      <input type="submit" value="Je propose mon aide"> 
    </div>
    <% end%>
  </ul>
<% end%>
