<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>En attente du mail de confirmation: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <p><b>Mot de passe</b></p> <i>(Laissez la zone blanche si vous ne voulez pas changer votre mot de passe)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
     <p><b>Confirmation mot de passe</b></p>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
     <p><b>Mot de passe actuel</b></p><i>(Il vous faut rentrer votre mot de passe actuel pour pouvoir en changer)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Annuler mon compte</h3>

<p>Vous n'êtes pas satisfait? <%= button_to "Annuler mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete %></p>

<%= link_to "Back", :back %>
