<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to I18n.t('views.application.name', default: 'Accueil'), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? == false %> 
      <ul class="nav navbar-nav">
        <li><%= link_to 'Connexion', new_user_session_path %></li>
        <li><%= link_to 'S\'inscrire', new_user_registration_path %></li>
        <li><%= link_to 'Find a service', services_path %></li>
      </ul>
      <% end %>
      <% if user_signed_in? == true %> 
        <% if current_user.try(:role) %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Admin', admin_root_path %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Proposer un service', new_service_path %></li>
          </ul>
        <% end %>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
        </ul>

      <% end %>
      

    </div>
  </div>
</nav>
